* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.app-header {
  top: 0;
  position: sticky;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 16px 20px 8px;
  margin-bottom: 24px;
  display: flex;
  object-fit: contain;
  justify-content: space-between;
  z-index: 1;
}

.app-header-image {
  object-fit: contain;
}

.app-signup {
  display: flex;
  flex-direction: column;
}

.image-upload-login {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
