* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app-header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
  display: flex;
}

.app-header-image {
  padding: 16px 20px 8px;
  object-fit: contain;
}

.app-signup {
  display: flex;
  max-width: 100px;
  max-height: 10px;
  margin-left: auto;
}

.app-button-container {
  max-width: 100px;
  max-height: 10px;
  margin-left: auto;
}

.app-button-container button {
  margin-top: 10px;
}
