* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
  flex-direction: column;
  display: flex;
  position: relative;
}

.app-header {
  top: 0;
  position: sticky;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 16px 20px 8px;
  margin-bottom: 24px;
  display: flex;
  object-fit: contain;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}

.app-header-content {
  display: grid;
  grid-template-columns: 1fr 20rem 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.app-header-image {
  object-fit: contain;
}

.app-signup {
  display: flex;
  flex-direction: column;
}

.image-upload-login {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.header-icon-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-width: 120px;
  margin-bottom: 8px;
  /* justify-content: space-between; */
}

.header-icon-container svg {
  height: 20px;
  width: 20px;
  margin: 0px 20px 0px 20px;
}

.header-search-bar {
  margin-bottom: 8px;
  height: 8px;
  width: 100px;
  padding: 5px 24px 5px 24px;
  border: 1px solid #dbdbdb;
  color: #999;
  text-align: center;
  border-radius: 3px;
}

.header-search-bar:focus {
  text-align: left;
}

.search-bar-container {
  position: relative;
}

.search-result-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  background: white;
  max-height: 200px;
  width: 120%;
  overflow: auto;
  filter: drop-shadow(0 0 3px #dbdbdb);
}

.profile-dropdown-container {
  position: relative;
}

.profile-dropdown-wrapper {
  position: absolute;
  background: white;
  width: 160px;
  height: 100px;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 3px #dbdbdb);
  transform: translate(-105%, 15%);
  border-radius: 5px;
}

.profile-dropdown-wrapper:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-top: 8px solid transparent;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  right: 10px;
  top: -15px;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 5px;
}

.dropdown-item svg {
  height: 14px;
  width: 14px;
}

.dropdown-item:last-child {
  border-top: 1px solid #dbdbdb;
  justify-content: center;
  margin-top: 10px;
}
