.explore-images {
  max-width: 935px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
}

.explore-images > :nth-child(18n + 2) {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: span 2;
  grid-row-end: auto;
}

.explore-images > :nth-child(18n + 10) {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: span 2;
  grid-row-end: auto;
}

/* .explore-image {
  overflow: hidden;
  padding: 50% 0;
  position: relative;
}

.explore-image img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
} */
