.overlay {
  display: none;
}

.profile-image {
  position: relative;
  display: inline-block;
}

.profile-image:hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0px;
}
.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.stats-container img {
  height: 22px;
  width: 22px;
}

.hover-icon {
  height: 24px;
  width: 24px;
  fill: white;
  margin-right: 5px;
}

.hover-stat-chat {
  margin-right: 15px;
}

.hover-stat-chat,
.hover-stat-heart {
  margin-bottom: 5px;
}
