.generic-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-modal-container {
  display: flex;
  max-height: 20rem;
  width: 18rem;
  text-align: center;
  flex-direction: column;
  justify-self: center;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
}

.option-modal-container button {
  font-size: 10px;
  padding: 0.7rem;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
}

.follow-modal-container {
  display: flex;
  max-height: 20rem;
  width: 350px;
  text-align: center;
  flex-direction: column;
  justify-self: center;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.follow-list-container {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 8px 16px 8px 16px;
  max-height: 400px;
}

.follows-list-container {
  overflow: auto;
}

.follow-list-container button {
  margin-left: auto;
  margin-right: 10px;
  min-width: 50px;
  width: auto;
  height: 28px;
  font-size: 11px;
}

.follow-username {
  text-align: left;
  margin-left: 10px;
  font-size: 12px;
}

.follow-modal-header {
  background: white;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dbdbdb;
}

.follow-list-empty {
  background: white;
}

.follow-list-empty * {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}

.follow-list-empty:last-child {
  padding-bottom: 10px;
}

.follow-list-empty svg {
  width: 40px;
  height: 40px;
  padding-top: 5px;
}
