.post {
  background-color: white;
  max-width: 500px;
  min-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.post-image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-text {
  font-weight: normal;
  padding: 0px 15px 0px 15px;
}

.post-header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.post-avatar {
  margin-right: 10px;
}

.post-comment-box {
  min-height: 56px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.post-input {
  flex: 1;
  border: none;
  padding: 10px;
}

.post-button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
}

.post-comments {
  padding: 0px 15px 0px 15px;
  font-size: 12px;
}

.post-text {
  font-size: 12px;
}

.post-icons-container {
  margin-left: 13px;
}

.post-like-button {
  background: transparent;
  border: none;
}

.post-chat-button {
  background: transparent;
  border: none;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}
